
#content {
    width: 80vw;
    height: 80vh;
}

.checker-bg {
    background-color: #e5e5f7;
    display: inline-block;
    opacity: 0.8;
    background-image:  linear-gradient(whitesmoke 2px, transparent 2px), linear-gradient(90deg, whitesmoke 2px, transparent 2px), linear-gradient(whitesmoke 1px, transparent 1px), linear-gradient(90deg, whitesmoke 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.flex-wrapper {
    display: flex;
}

.flex-child {
    flex: 1;
}
